body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.umeet {
    width: 100%;

}

.umeetcontainer {
    width: 80%;
    margin: auto;
    overflow: auto;
}


.umeetpart1 {
    width: 45%;
    padding: 40px 0px;
    float: left;
}


.umeetlogo {
    height: 40px;
    width: 30%;
    background-color: #3b1d82;
}


.umeetpart2 {
    width: 55%;
    float: left;
}


.item {
    padding: 42px 10px;
    float: left;

}



.menu-item {
    background-color:black;
    height: 10px;
    padding: 12px 0px;
    width: 60px;
}

.orange {
    background-color: #3b1d82;
}


.poster{
    height: 100%;
    width: 100%;
    background-color: #1e1666;
}

.mic{
    height: 60px;
    width: 80px;
    background-color: white;
    top: 350px;
    left: 590px;
    position: absolute;
}
