body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.umeet {
    width: 100%;

}

.umeetcontainer {
    width: 80%;
    margin: auto;
    overflow: auto;
}


.umeetpart1 {
    width: 45%;
    padding: 30px 0px;
    float: left;
}


.umeetlogo {
    height: 50px;
    width: 100px;
    background-color: #3b1d82;


}


.umeetpart2 {
    width: 55%;
    float: left;
}


.item {
    padding: 42px 10px;
    float: left;

}



.menu-item {
    background-color: black;
    height: 10px;
    padding: 12px 0px;
    width: 60px;
}

.orange {
    background-color: #3b1d82;
}


.poster {

    width: 100%;
    padding: 250px;
    background-color: #1e1666;
}

.postercontent {
    position: relative;
    padding: 50px;
}

.mic {
    height: 60px;
    width: 80px;
    background-color: white;
    margin: 15px auto;
}



.date {
    height: 40px;
    width: 320px;
    background-color: white;
    margin: 15px auto;
}

.title {
    height: 60px;
    width: 510px;
    background-color: white;
    margin: 15px auto;

}

.ticket {
    height: 45px;
    width: 170px;
    background-color: #ea0763;
    margin: 15px auto;
}

.innovative {
    width: 100%;
    background-color: #f7f7f7;
}

.innowidth{
    width: 80%;
    margin: 50px auto;
    background-color: #f7f7f7;
}

.innocontainer {
    width: 100%;
    margin: auto;
    overflow: auto;

}


.innopart1 {
    width: 50%;
    padding: 100px 0px;
    float: left;

}


.innotitle {
    height: 25px;
    width: 220px;
    background-color: #3b1d82;

}

.innotitle1 {
    height: 25px;
    width: 130px;
    margin: 5px 0px;
    background-color: #3b1d82;
}

.innotitle2 {
    height: 25px;
    width: 270px;
    margin: 20px 0px;
    background-color: #ea0763;
}

.innoparegraph {
    height: 100px;
    width: 100;
    margin: 20px 0px;
    background-color: gray;
}



.innopart2 {
    width: 50%;
    padding: 100px 0px;
    float: left;
}

.timecontainer {
    padding: 10px;
    overflow: auto;

}

.daymain {
    height: 130px;
    width: 33%;
    float: left;
    padding: 15px;

}

.day {
    height: 100%;
    background-color: #01bbdb;

}

.hoursmain {

    height: 130px;
    width: 33%;
    float: left;
    padding: 15px;
}

.hours {
    height: 100%;
    background-color: #fbcf06;
}

.minsmain {
    height: 130px;
    width: 33%;
    float: left;
    padding: 15px;

}

.mins {
    height: 100%;
    background-color: #f640c1;
}

.time {
    height: 20px;
    width: 330px;
    margin: 15px auto;
    background-color: #dd075e;
}

.getticket {
    height: 19px;
    width: 120px;
    margin: 5px auto;
    background-color: #3b1d92;
}

.whyjoin {
    width: 100%;
}

.whyjoinwidth{
    width: 80%;
    margin: 70px auto;
}

.joincontainer {
    width: 100%;
    margin: auto;
    overflow: auto;
    padding: 70px 0px;
}

.join {
    height: 25px;
    width: 150px;
    background-color: gray;
    margin: 10px auto;
}

.jointit {
    height: 45px;
    width: 350px;
    background-color: #3b1d82;
    margin: 20px auto;
}

.line {
    height: 8px;
    width: 70px;
    background-color: #ea0763;
    margin: auto;

}

.servicecontainer {
    width: 100%;
    margin: auto;
    padding: 10px ;
    overflow: auto;
}

.rank {
    width: 33%;
    float: left;
    padding: 30px;
}

.ranklogo {
    height: 90px;
    width: 100px;
    margin: auto;
    background-color: #d9e0e1;
}

.ranktit {
    height: 30px;
    width: 200px;
    margin: 15px auto;
    background-color: black;
}

.rankparegraph {
    height: 100px;
    width: 300px;
    margin: 15px auto;
    background-color: gray;
}

.lerncontainer {
    width: 100%;
    margin: auto;
    overflow: auto;
    padding: 30px 0px;
}

.lerncontent {
    overflow: auto;
    width: 500px;
    margin: auto;
}

.lernmore {
    width: 50%;
    float: left;
    padding: 20px;
}

.morecontent {
    background-color: #3915c1;
    height: 40px;
}

.buyticket {
    width: 50%;
    float: left;
    padding: 20px;
}

.buycontent {
    height: 40px;
    background-color: #3915c1;
}


.speakermain {
    width: 100%;
    background-color: #471bc1;
}

.speakerwidth{
    width: 80%;
    margin: 40px auto;
}

.specontainer {
    width: 100%;
    margin: auto;
    overflow: auto;
    padding: 100px 0px;
}

.joinsec {
    height: 25px;
    width: 150px;
    background-color: white;
    margin: 10px auto;
}

.meetspeacker {
    height: 45px;
    width: 300px;
    background-color: white;
    margin: 20px auto;
}

.linesec {
    height: 8px;
    width: 70px;
    background-color: #ea0763;
    margin: auto;
}

.speackercontainer {
    width: 100%;
    margin: auto;
    overflow: auto;
}

.speacker {
    width: 33%;
    float: left;
    padding: 10px;
}

.spakcon{
    background-color: white;
    padding: 8px;    
}
.con1 {
    height: 280px;
    background-color: #d7dad5;
}
.con2{
    height: 100px;
    background-color:#462880;
}

.conferencemain {
    width: 100%;
}
.conferencewidth{
    width: 80%;
    margin: 50px auto;
}

.daydatecontainer {
    width: 100%;
    margin: auto;
    padding: 20px 100px;
    overflow: auto;
}

.daydate {
    width: 25%;
    float: left;
    padding: 20px;
}

.daycon{
    background-color: #3b1d82;
    padding: 8px;    
}
.daycon1 {
    width: 40%;
    height: 25px;
    background-color: white;
    margin: 15px auto;
    
}
.daycon2{
    width: 80%;
    height: 20px;
    margin: 15px auto;
    background-color:white;
}

..speackcon {
    width: 100%;
    overflow: auto;
}

.spackpartone{
    width: 30%;
    float: left;
    background-color: #eb0162;
}

.spackphoto{
    height: 40px;
    width: 50%;
    background-color: white;
    
}

.spackparttwo{
    height: 200px;
    width: 70%;
    float: left;
    background-color: #f7f7f7;
}



