body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.umeet {
    width: 100%;

}

.umeetcontainer {
    width: 80%;
    margin: auto;
    overflow: auto;
}


.umeetpart1 {
    width: 45%;
    padding: 30px 0px;
    float: left;
}


.umeetlogo {
    height: 50px;
    width: 100px;
    background-color: #3b1d82;


}


.umeetpart2 {
    width: 55%;
    float: left;
}


.item {
    padding: 42px 10px;
    float: left;

}



.menu-item {
    background-color: black;
    height: 10px;
    padding: 12px 0px;
    width: 60px;
}

.orange {
    background-color: #3b1d82;
}


.poster {

    width: 100%;
    padding: 250px;
    background-color: #1e1666;
}

.postercontent {
    position: relative;
    padding: 50px;
}

.mic {
    height: 60px;
    width: 80px;
    background-color: white;
    margin: 15px auto;
}



.date {
    height: 40px;
    width: 320px;
    background-color: white;
    margin: 15px auto;
}

.title {
    height: 60px;
    width: 510px;
    background-color: white;
    margin: 15px auto;

}

.ticket {
    height: 45px;
    width: 170px;
    background-color: #ea0763;
    margin: 15px auto;
}

.innovative {
    width: 100%;
    background-color: #f7f7f7;
}

.innowidth {
    width: 80%;
    margin: 50px auto;
    background-color: #f7f7f7;
}

.innocontainer {
    width: 100%;
    margin: auto;
    overflow: auto;

}


.innopart1 {
    width: 50%;
    padding: 100px 0px;
    float: left;

}


.innotitle {
    height: 25px;
    width: 220px;
    background-color: #3b1d82;

}

.innotitle1 {
    height: 25px;
    width: 130px;
    margin: 5px 0px;
    background-color: #3b1d82;
}

.innotitle2 {
    height: 25px;
    width: 270px;
    margin: 20px 0px;
    background-color: #ea0763;
}

.innoparegraph {
    height: 100px;
    width: 100;
    margin: 20px 0px;
    background-color: gray;
}



.innopart2 {
    width: 50%;
    padding: 100px 0px;
    float: left;
}

.timecontainer {
    padding: 10px;
    overflow: auto;

}

.daymain {
    height: 130px;
    width: 33%;
    float: left;
    padding: 15px;

}

.day {
    height: 100%;
    background-color: #01bbdb;

}

.hoursmain {

    height: 130px;
    width: 33%;
    float: left;
    padding: 15px;
}

.hours {
    height: 100%;
    background-color: #fbcf06;
}

.minsmain {
    height: 130px;
    width: 33%;
    float: left;
    padding: 15px;

}

.mins {
    height: 100%;
    background-color: #f640c1;
}

.time {
    height: 20px;
    width: 330px;
    margin: 15px auto;
    background-color: #dd075e;
}

.getticket {
    height: 19px;
    width: 120px;
    margin: 5px auto;
    background-color: #3b1d92;
}

.whyjoin {
    width: 100%;
}

.whyjoinwidth {
    width: 80%;
    margin: 100px auto;
}

.joincontainer {
    width: 100%;
    margin: auto;
    overflow: auto;
    padding: 0px 0px 70px 0px;
}

.join {
    height: 25px;
    width: 150px;
    background-color: gray;
    margin: 10px auto;
}

.jointit {
    height: 45px;
    width: 350px;
    background-color: #3b1d82;
    margin: 20px auto;
}

.line {
    height: 8px;
    width: 70px;
    background-color: #ea0763;
    margin: auto;

}

.servicecontainer {
    width: 100%;
    margin: auto;
    padding: 10px;
    overflow: auto;
}

.rank {
    width: 33%;
    float: left;
    padding: 30px;
}

.ranklogo {
    height: 90px;
    width: 100px;
    margin: auto;
    background-color: #d9e0e1;
}

.ranktit {
    height: 30px;
    width: 200px;
    margin: 15px auto;
    background-color: black;
}

.rankparegraph {
    height: 100px;
    width: 300px;
    margin: 15px auto;
    background-color: gray;
}

.lerncontainer {
    width: 100%;
    margin: auto;
    overflow: auto;
    padding: 30px 0px;
}

.lerncontent {
    overflow: auto;
    width: 500px;
    margin: auto;
}

.lernmore {
    width: 50%;
    float: left;
    padding: 20px;
}

.morecontent {
    background-color: #3915c1;
    height: 40px;
}

.buyticket {
    width: 50%;
    float: left;
    padding: 20px;
}

.buycontent {
    height: 40px;
    background-color: #3915c1;
}


.speakermain {
    width: 100%;
    background-color: #471bc1;
}

.speakerwidth {
    width: 80%;
    margin: auto;
    padding: 50px 0px;
}

.specontainer {
    width: 100%;
    overflow: auto;
    padding: 100px 0px;
}

.joinsec {
    height: 25px;
    width: 150px;
    background-color: white;
    margin: 10px auto;
}

.meetspeacker {
    height: 45px;
    width: 300px;
    background-color: white;
    margin: 20px auto;
}

.linesec {
    height: 8px;
    width: 70px;
    background-color: #ea0763;
    margin: auto;
}

.speackercontainer {
    width: 100%;
    margin: auto;
    overflow: auto;
}

.speacker {
    width: 33%;
    float: left;
    padding: 10px;
}

.spakcon {
    background-color: white;
    padding: 8px;
}

.con1 {
    height: 280px;
    background-color: #d7dad5;
}

.con2 {
    height: 100px;
    background-color: #462880;
}

.conferencemain {
    width: 100%;
}

.conferencewidth {
    width: 80%;
    margin: auto;
    padding: 80px 40px 80px 40px;
}

.daydatecontainer {
    width: 100%;
    margin: auto;
    padding: 20px 100px;
    overflow: auto;
}

.daydate {
    width: 25%;
    float: left;
    padding: 20px;
}

.daycon {
    background-color: #3b1d82;
    padding: 8px;
}

.daycon1 {
    width: 40%;
    height: 25px;
    background-color: white;
    margin: 15px auto;

}

.daycon2 {
    width: 80%;
    height: 20px;
    margin: 15px auto;
    background-color: white;
}

.speackcontainer {
    width: 100%;

}

.speackcon {
    width: 100%;
    margin: 20px auto;
    overflow: auto;
}

.spackpartone {
    width: 30%;
    padding: 20px 20px;
    float: left;
    background-color: #eb0162;
}

.spackphoto {
    height: 70px;
    width: 30%;
    margin: 0px auto 10px auto;
    background-color: white;

}

.spackname {
    height: 20px;
    width: 70%;
    background-color: white;
    margin: auto;
}

.spacabout {
    height: 15px;
    width: 50%;
    background-color: white;
    margin: 10px auto;
}

.spackparttwo {
    width: 70%;
    float: left;
    padding: 23px 35px;
    background-color: #f7f7f7;
}

.parttwotime {
    height: 10px;
    width: 25%;
    background-color: black;
}

.parttwotitle {
    height: 20px;
    width: 40%;
    margin: 10px auto 20px 0px;
    background-color: black;
}

.parttwoparegraph {
    height: 70px;
    width: 100%;
    background-color: black;
}

.planmain {
    width: 100%;
    background-color: #d7dad5;
}

.planwidth {
    overflow: auto;
    width: 80%;
    margin: auto;
    padding: 100px 0px;
}

.plancontainer {
    width: 100%;
    margin: auto;
}

.plan {
    width: 33%;
    float: left;
    padding: 10px;
}

.plancon {
    background-color: white;
    padding: 8px;
}

.pricetableheader {
    width: 100%;
    padding: 25px 20px;
}

.plancon1 {
    width: 35%;
    height: 35px;
    margin: 10px auto;
    background-color: black;
}

.plancon2 {
    width: 50%;
    height: 20px;
    margin: 0px auto 10px auto;
    background-color: black;
}

.plancon3 {
    width: 80%;
    height: 65px;
    margin: 0px auto;
    background-color: black;
}

.pricetablelist {
    width: 100%;
    padding: 25px 20px;
}

.planline1 {
    width: 80%;
    height: 20px;
    margin: 10px auto;
    background-color: black;
}

.planline2 {
    width: 73%;
    height: 20px;
    margin: 10px auto;
    background-color: black;
}

.planline3 {
    width: 60%;
    height: 20px;
    margin: 10px auto;
    background-color: black;
}

.planline4 {
    width: 80%;
    height: 20px;
    margin: 10px auto;
    background-color: black;
}

.planline5 {
    width: 60%;
    height: 20px;
    margin: 10px auto;
    background-color: black;
}

.pricetablefooter {
    width: 100%;
    padding: 25px 20px;
}

.plancon4 {
    width: 80%;
    height: 65px;
    margin: 0px auto;
    background-color: #d7dad5;
}

.eventplanmain {
    width: 100%;
    background-color: #f0f1f3;
}

.eventplanwidth {
    width: 80%;
    margin: auto;
    padding: 80px 0px;
}

.sponsortitle {
    height: 30px;
    width: 20%;
    background-color: black;
    margin: 40px auto;
}

.sponsorrow {
    width: 90%;
    margin: auto;
    overflow: auto;
}

.bannercontent {
    width: 33.33%;
    float: left;
    padding: 20px;

}

.banner {
    height: 130px;
    width: 100%;
    background-color: grey;
}

.sponsorrowcpy {
    width: 60%;
    margin: auto;
    overflow: auto;
}

.bannercontentcpy {
    width: 33.33%;
    float: left;
    padding: 20px;

}

.bannercpy {
    height: 100px;
    width: 100%;
    background-color: grey;
}

.eventmain {
    width: 100%;
    background-color: #471bc1;
}

.eventwidth {
    width: 80%;
    margin: auto;
    padding: 50px 0px;
}

.eventcontainer {
    width: 100%;
    overflow: auto;
}

.event {
    width: 33%;
    float: left;
}

.evecon {
    background-color: white;
    padding: 1px;
}

.evecon1 {
    height: 330px;
    background-color: #d7dad5;
}

.aboutcontainer {
    width: 100%;
    overflow: auto;
}

.about {
    width: 50%;
    float: left;
    padding: 0px 10px;
}

.aboutcon {
    background-color: #3b1d82;
    padding: 10px;
}

.spoimage {
    height: 230px;
    background-color: #5da9a7;
}

.aboutbody {
    background-color: #3b1d82;
    padding: 35px 10px;
}

.aboutcon1 {
    height: 30px;
    width: 100%;
    background-color: #242424;

}

.aboutcon2 {
    height: 30px;
    width: 80%;
    background-color: #242424;
    margin: 10px auto 10px 0px;
}

.aboutinfo {
    width: 100%;
    overflow: auto;
}

.infocon {
    height: 20px;
    width: 30%;
    float: left;
    background-color: #797979;
    margin: 15px 10px 15px 0px;
}

.footer {
    width: 100%;
    background-color: #111429;
    padding: 100px 0px 0px 0px;
}

.widthfooter {
    width: 100%;
    
}
.footercontainer{
    width: 100%;
    overflow: auto;
}

.footer-div1{
  width: 25%;    
  float: left;
  padding: 0px 20px 0px 0px;
}

.div1title{
    height: 50px;
    width: 70%;
    background-color: white;
}
